.rlpProp {
  padding: 12px;
}

.rlpPropHiddenPropInfo {
  display: flex;
  flex-direction: column;
}

.rlpPropInputWithDelete {
  display: flex;
  flex-direction: row;
}

.rlpProp label {
  display: block;
}

.rlpPropDescription {
  font-weight: normal;
  font-size: 14px;
  border-bottom: none;
  margin-bottom: 0px;
}

.rlpPropInput input {
  font-weight: normal;
}
