.rlpContainer {
  border: 2px solid #000;
  padding: 12px;
  background: white;
}

.rlpContainerTitle {
  padding: 12px;
  border-bottom: 1px solid #e5e5e5;
}

.rlpContainerSubTitle {
  margin: 12px 0px;
}

.rlpContainerSubTitle > button {
  margin-left: 12px;
}

.rlpSection {
  margin-top: 12px;
  margin-bottom: 12px;
}

.rlpComponentPreview, .rlpEditablePropsTable, .rlpPropsTableMain, .rlpCustomComponentMarkup, .rlpComponentMarkup {
  padding: 12px;
  border: 2px solid #e5e5e5;
}

.rlpEditablePropsTableTreeView {
  max-height: 400px;
  overflow: auto;
  min-width: 150px;
  max-width: 275px;
  padding-right: 16px;
}

.rlpFlexContainer {
  display: flex;
}

.rlpEditablePropsTableSpacer {
  width: 4px;
  margin: 0px 10px;
  background-color: #e5e5e5;
}

.rlpEditablePropsTableMain {
  flex-grow: 1;
  max-height: 400px;
  overflow-y: auto;
}

.rlpContainerTitle button {
  float: right;
  background-color: transparent;
  border: none;
}

.rlpComponentMarkup code {
  font-size: 14px;
}
