.rlpContainer {
  border: 2px solid #000;
  padding: 12px;
  background: white;
}

.rlpContainerTitle {
  padding: 12px;
  border-bottom: 1px solid #e5e5e5;
}

.rlpSection {
  margin-top: 12px;
  margin-bottom: 12px;
}

.rlpComponentPreview {
  padding: 12px;
  border: 2px solid #e5e5e5;
}

.rlpEditablePropsTable {
  display: flex;
}

.rlpEditablePropsTableSpacer {
  width: 24px;
}

.rlpEditablePropsTableMain {
  flex-grow: 1;
}

.rlpContainerTitle button {
  float: right;
  background-color: transparent;
  border: none;
}
